Repository emkarcinos/WMIAdventure, pull requests merged in 2021-06, with the labels that each got.

#252 Refactor dunder methods in backend to _method_name()
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Calculator.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Deck.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/PlayerFactory.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/Effect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Calculator.py
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/create_player.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/use_card.txt
Labels: Backend

#254 Dodano test tworzenia konkretnych efektów w EffectFactory
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/EffectFactory.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_EffectFactory.py
Labels: Backend

#251 Refactor backend snake case (Closes #153)
  WMIAdventure/backend/WMIAdventure_backend/cards/tests.py
  WMIAdventure/backend/WMIAdventure_backend/users/views.py
Labels: Backend

#256 Api documentation
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/models.py
  WMIAdventure/backend/WMIAdventure_backend/WMIAdventure_backend/settings.py
  WMIAdventure/backend/WMIAdventure_backend/WMIAdventure_backend/urls.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
  WMIAdventure/backend/WMIAdventure_backend/cards/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/cards/views.py
  WMIAdventure/backend/requirements.txt
Labels: documentation

#257 Changed typing.List to list #208
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Calculator.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Player.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/Effect.py
Labels: Backend

#258 Ingame users tests
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
Labels: Backend

#261 Battle integration tests
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Outcome.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/Effect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/Creator.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_BattleIntegration.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Outcome.py
Labels: Backend

#301 Naprawiony problem z dwucyfrowym id i dodanie przycisku do edycji kolejnej karty.
  WMIAdventure/frontend/src/js/pages/creative/CardsCreator/CardsCreator.js
  WMIAdventure/frontend/src/js/pages/creative/CardsCreator/atoms/CardDescribePreview/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/creative/CardsCreator/atoms/EffectInput/EffectInput.js
  WMIAdventure/frontend/src/js/pages/creative/CardsCreator/styled-components/Button.js
Labels: Frontend

#302 Backend battle view
  WMIAdventure/backend/WMIAdventure_backend/WMIAdventure_backend/urls.py
  WMIAdventure/backend/WMIAdventure_backend/battle/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/battle/tests.py
  WMIAdventure/backend/WMIAdventure_backend/battle/urls.py
  WMIAdventure/backend/WMIAdventure_backend/battle/views.py
Labels: Backend

#266 Update Kryteria Akceptacji in projects_requirements.md #265
  docs/project-requirements.md
Labels: documentation

#307 User deck view
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/urls.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: Backend

#308 Add maximum amount of turns for battle #306
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Battle.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Outcome.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Outcome.py
Labels: Backend

#312 Validate card modifiers
  WMIAdventure/backend/WMIAdventure_backend/cards/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/cards/tests.py
  WMIAdventure/backend/WMIAdventure_backend/cards/validators.py
Labels: Backend

#310 Users list to fight
  WMIAdventure/frontend/src/assets/icons/thunder.svg
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/BattleMode.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/Avatar.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/StyledAvatar/Header.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/StyledAvatar/Image.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/StyledAvatar/Paragraph.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/StyledAvatar/StyledAvatar.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/StyledAvatar/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Avatar/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/BattleResult.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/styled-components/Back.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/styled-components/Div.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/FightButton/FightButton.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/FightButton/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/FightButton/styled-components/Button.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/Statistic.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/Column.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/Header.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/Row.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/StyledStatistic.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/Table.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/StyledStatistic/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/Statistic/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/UserToFight/UserToFight.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/UserToFight/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/UserToFight/styled-components/Li.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/UserToFight/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/styled-components/H2.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/styled-components/Main.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/styled-components/Ul.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/styled-components/Wrapper.js
Labels: Frontend

#314 Battle simulation
  WMIAdventure/frontend/docs/pages/creative/CardsCreator/atoms/CardDescribeInputs.md
  WMIAdventure/frontend/docs/pages/creative/CardsCreator/atoms/CardDescribePreview.md
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/BattleMode.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/BattleResult.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/BattleResult/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/CardPreview.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/styled-components/Article.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/styled-components/H4.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/styled-components/Psubject.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/atoms/CardPreview/styled-components/Ptooltip.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/BattleResult.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/index.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/Back.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/CardsDiv.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/DeckDiv.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/H3.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/Pcard.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/Result.js
  WMIAdventure/frontend/src/js/pages/entertainment/BattleMode/molecules/BattleResult/styled-components/Wrapper.js
Labels: Frontend

#313 Init admin tools
  WMIAdventure/admin/admin.py
  WMIAdventure/admin/databases/CardsDatabase.py
  WMIAdventure/admin/databases/Database.py
  WMIAdventure/admin/databases/__init__.py
  WMIAdventure/admin/databases/tests.py
  WMIAdventure/admin/models/Card.py
  WMIAdventure/admin/models/Model.py
  WMIAdventure/admin/models/__init__.py
  WMIAdventure/admin/models/tests.py
  WMIAdventure/admin/requirements.txt
  WMIAdventure/admin/scripts/CardEntry.py
  WMIAdventure/admin/scripts/CardModule.py
  WMIAdventure/admin/scripts/Login.py
  WMIAdventure/admin/scripts/ModuleSelection.py
  WMIAdventure/admin/scripts/Script.py
  WMIAdventure/admin/scripts/__init__.py
  WMIAdventure/admin/views/CardsViews.py
  WMIAdventure/admin/views/View.py
  WMIAdventure/admin/views/__init__.py
  WMIAdventure/admin/views/tests.py
Labels: Backend

#316 Backend: nowy moduł proposed_content oraz logika proponowanej karty
  WMIAdventure/backend/WMIAdventure_backend/WMIAdventure_backend/settings.py
  WMIAdventure/backend/WMIAdventure_backend/WMIAdventure_backend/urls.py
  WMIAdventure/backend/WMIAdventure_backend/cards/migrations/0010_auto_20210610_0154.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
  WMIAdventure/backend/WMIAdventure_backend/cards/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/__init__.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/admin.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/apps.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/migrations/0001_initial.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/migrations/__init__.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/models.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/tests.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/urls.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/views.py
Labels: Backend, Database

#319 Accept proposed card view
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/tests.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/urls.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/views.py
Labels: Backend

#322 Update db diagram with proposed cards tables #321
  WMIAdventure/backend/docs/diagrams/db-diagram.xml
Labels: Backend, Design

#326 Unique proposed card fix
  WMIAdventure/backend/WMIAdventure_backend/cards/migrations/0011_auto_20210613_1831.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
  WMIAdventure/backend/WMIAdventure_backend/cards/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/cards/tests.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/migrations/0002_alter_proposedcardinfo_name.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/tests.py
Labels: Backend, bug
