Repository emkarcinos/WMIAdventure, pull requests merged in 2021-05, with the labels that each got.

#200 Battle simulation skip card effect
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Deck.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/SkipCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_SkipCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Deck.py
Labels: Backend

#201 Update main README file. Closes #192
  README.md
Labels: documentation

#204 Battle simulation update diagrams createbattle
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/PlayerFactory.py
  WMIAdventure/backend/docs/diagrams/create_battle-sequence_diagram.txt
  WMIAdventure/backend/docs/diagrams/create_player-sequence_diagram.txt
Labels: Backend, documentation

#223 Battle simulation heal effect
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/HealEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_HealEffect.py
Labels: Backend

#222 Battle simulation startbattle dgrm
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/Effect.py
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/activate_effect.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/create_battle.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/create_player.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/on_activation_dmg_effect.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/start_battle.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/use_card.txt
  WMIAdventure/backend/docs/diagrams/start_battle-sequence_diagram.txt
  WMIAdventure/backend/docs/diagrams/use_card-sequence_diagram.txt
Labels: Backend, Design, documentation

#228 Battle simulation randomize deck
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Deck.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/RandomizeDeckEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_RandomizeDeckEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Deck.py
Labels: Backend

#230 Add Create Deck sequence diagram #196
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/create_deck.txt
  WMIAdventure/backend/docs/diagrams/sequence_diagrams/create_player.txt
Labels: Backend, Design, documentation

#231 Battle simulation empower card
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/BattleCard.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/EmpowerCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_EmpowerCardEffect.py
Labels: Backend

#232 Battle simulation double card effect
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Deck.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/TwoTimesExecuteEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_TwoTimesExecuteEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Deck.py
Labels: Backend

#237 Battle simulation true damage effect (Closes #236)
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Statistics.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/EffectFactory.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/TrueDamageEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/TwoTimesExecuteEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_TrueDamageEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Statistics.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
Labels: Backend

#239 Refactor tests in battle app in backend (Closes #227)
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_Effect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_EffectFactory.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_EmpowerCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_HealEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_ShieldEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_TrueDamageEffect.py
Labels: Backend

#242 Battle simulation block card effect simple
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/BattleCard.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/BlockCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_BlockCardEffect.py
Labels: Backend

#243 Battle simulation stop player effect
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Coordinator.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Player.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/TurnsQueue.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/EffectFactory.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/StopPlayerEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_StopPlayerEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Coordinator.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_TurnsQueue.py
  WMIAdventure/backend/WMIAdventure_backend/cards/migrations/0005_alter_cardeffect_id.py
Labels: Backend
