Repository emkarcinos/WMIAdventure, pull requests merged in 2021-12, with the labels that each got.

#716 Buff effects
  WMIAdventure/frontend/src/assets/icons/damage-buff.svg
  WMIAdventure/frontend/src/assets/icons/double-use-buff.svg
  WMIAdventure/frontend/src/assets/icons/heal-buff.svg
  WMIAdventure/frontend/src/assets/icons/power-buff.svg
  WMIAdventure/frontend/src/assets/icons/shield-buff.svg
  WMIAdventure/frontend/src/js/api/data-models/battle/BuffIds.js
  WMIAdventure/frontend/src/js/api/data-models/battle/EffectHelper.js
  WMIAdventure/frontend/src/js/api/data-models/battle/test/EffectHelper.test.js
  WMIAdventure/frontend/src/js/components/battle/atoms/BuffPreviewBlock/BuffPreviewBlock.js
  WMIAdventure/frontend/src/js/components/battle/atoms/BuffPreviewBlock/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/BuffPreviewBlock/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/atoms/BuffPreviewBlock/styled-components/Icon.js
  WMIAdventure/frontend/src/js/components/battle/atoms/BuffPreviewBlock/styled-components/Modifier.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/MiniCardView.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/CardContainer.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/LevelBorder.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/effectsVisualizing.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/BuffValue.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/BuffsContainer.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/FullCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/styled-components/Article.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/styled-components/BuffsContainer.js
  docs/reports/report_27_11.md
Labels: Frontend

#719 Add documented results of research about USOS API
  docs/USOS_API_research.md
Labels: documentation, Backend

#720 Aktualizacja projects-requirements w oparciu o nowe Kryteria akceptacji projektu dla II semestru prac
  docs/project-requirements.md
Labels: documentation

#742 Levele już się pokazują poprawnie przy edycji karty
  WMIAdventure/frontend/src/js/components/card-editor/organisms/CardProperties/CardProperties.js
  WMIAdventure/frontend/src/js/components/card-editor/organisms/CardsCreator/CardsCreator.js
Labels: bug, Frontend

#755 Raport 3
  docs/reports/report_4_12.md
Labels: documentation

#743 User profile desktop
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/FullCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/styled-components/Article.js
  WMIAdventure/frontend/src/js/components/global/molecules/Menubar/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/atoms/MyDeck/MyDeck.js
  WMIAdventure/frontend/src/js/components/profile/atoms/MyDeck/styled-components/DeckHeader.js
  WMIAdventure/frontend/src/js/components/profile/atoms/MyDeck/styled-components/DesktopDeckContainer.js
  WMIAdventure/frontend/src/js/components/profile/atoms/MyDeck/styled-components/Header.js
  WMIAdventure/frontend/src/js/components/profile/atoms/User/styled-components/Avatar.js
  WMIAdventure/frontend/src/js/components/profile/atoms/User/styled-components/AvatarContainer.js
  WMIAdventure/frontend/src/js/components/profile/atoms/User/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/profile/atoms/User/styled-components/Nick.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/LeftProfileContainer.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/MainDesktopContainer.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/MainMobileContainer.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/RightDeckContainer.js
Labels: Frontend

#762 W podglądzie karty w edytorze wartości liczbowe wyświetlane są już poprawnie
  WMIAdventure/backend/WMIAdventure_backend/cards/businesslogic/description_generator/PowerDescription.py
Labels: bug, Backend

#756 Obsługa mniejszej czcionki w CompactCardView przy długiej nazwie
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Name.js
Labels: Frontend

#754 Backend deck modification view
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/permissions.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/urls.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: Backend

#774 Edit profile popups
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/serializers.py
  WMIAdventure/frontend/src/js/api/data-models/user/BasicUserData.js
  WMIAdventure/frontend/src/js/api/gateways/user-profile-update/EditUserProfileAPIGateway.js
  WMIAdventure/frontend/src/js/api/gateways/user-profile-update/UserUtils.js
  WMIAdventure/frontend/src/js/components/card-editor/atoms/CardDescribeInputs/CardDescribeInputs.js
  WMIAdventure/frontend/src/js/components/profile/atoms/User/styled-components/AvatarContainer.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/UserAvatarInput.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/index.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/AvatarImagePreview.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/DivImageInput.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/ImageInput.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/ImageInputPrompt.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/styled-components/Label.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/UserNameInput.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/index.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/styled-components/DivInput.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/styled-components/Input.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserNameInput/styled-components/Label.js
  WMIAdventure/frontend/src/js/components/profile/molecules/EditProfile/EditProfile.js
  WMIAdventure/frontend/src/js/components/profile/molecules/EditProfile/index.js
  WMIAdventure/frontend/src/js/components/profile/molecules/EditProfile/styled-components/Header.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/MyDeck.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/index.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/styled-components/DesktopDeckContainer.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/styled-components/Header.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/PopUpProfile.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/index.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/styled-components/Close.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/styled-components/TransparentBack.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/DeckHeader.js
  WMIAdventure/frontend/src/js/pages/Profile/styled-componets/RightDeckContainer.js
  WMIAdventure/frontend/src/js/storage/user/userData.js
  WMIAdventure/frontend/src/js/utils/globals.js
Labels: Frontend

#782 Pełny podgląd karty w profilu
  WMIAdventure/frontend/src/js/components/global/organisms/TransBack/TransBack.js
  WMIAdventure/frontend/src/js/components/global/organisms/TransBack/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/ChangeDeckCard.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
Labels: Frontend

#787 Better profile messages
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/models.py
  WMIAdventure/frontend/src/js/api/RequestSender.js
  WMIAdventure/frontend/src/js/api/gateways/user-profile-update/EditUserProfileAPIGateway.js
  WMIAdventure/frontend/src/js/components/battle/organisms/TinyProfileDesktop/TinyProfileDesktop.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserAvatarInput/UserAvatarInput.js
  WMIAdventure/frontend/src/js/components/profile/molecules/EditProfile/EditProfile.js
Labels: Frontend

#818 Akceptowanie kart w django admin
  WMIAdventure/backend/WMIAdventure_backend/cards/admin.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/admin.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/models.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/views.py
Labels: Backend

#825 Official logo apply
  WMIAdventure/frontend/public/index.html
  WMIAdventure/frontend/src/assets/icons/logo.svg
  WMIAdventure/frontend/src/js/components/global/molecules/ColumnGapContainer/ColumnGapContainer.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/FlexGapContainer.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/global/molecules/Menubar/Menubar.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/Navbar.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/A.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/H1.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/HomeLink.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/Href.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/Logo.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/Span.js
Labels: Frontend

#830 Landing page mobile
  WMIAdventure/frontend/src/assets/icons/level-up-dark.svg
  WMIAdventure/frontend/src/assets/icons/pencil-dark.svg
  WMIAdventure/frontend/src/assets/images/devices.png
  WMIAdventure/frontend/src/assets/images/mobile-landing-background.svg
  WMIAdventure/frontend/src/index.js
  WMIAdventure/frontend/src/js/App.jsx
  WMIAdventure/frontend/src/js/components/global/atoms/Logo/Logo.js
  WMIAdventure/frontend/src/js/components/global/atoms/Logo/index.js
  WMIAdventure/frontend/src/js/components/global/atoms/Logo/styled-components/H1.js
  WMIAdventure/frontend/src/js/components/global/atoms/Logo/styled-components/HomeLink.js
  WMIAdventure/frontend/src/js/components/global/atoms/Logo/styled-components/LogoImage.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/FlexGapContainer.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/Navbar.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingFooter/LandingFooter.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingFooter/index.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingFooter/styled-components/Footer.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingLogin/LandingLogin.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingLogin/index.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingLogin/styled-components/A.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingRegistration/LandingRegistration.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingRegistration/index.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingRegistration/styled-components/A.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/LandingArticle.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/index.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Article.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/H3.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Image.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Paragraph.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/LandingHeroSection.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/index.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Background.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Content.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Subtitle.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/LandingNavBar.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/index.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/Nav.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/SiteHeader.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/LandingSection.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/index.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/Grid.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/Section.js
  WMIAdventure/frontend/src/js/components/prototype/atoms/Logo/Logo.js
  WMIAdventure/frontend/src/js/pages/LandingPage/LandingPage.js
  WMIAdventure/frontend/src/js/pages/LandingPage/content.js
  WMIAdventure/frontend/src/js/pages/LandingPage/index.js
  WMIAdventure/frontend/src/js/pages/LandingPage/styled-components/Main.js
  WMIAdventure/frontend/src/js/utils/colors.js
Labels: Frontend

#823 Implementacja nowych design logowania i rejestracji
  WMIAdventure/frontend/docs/pages/creative/CardsCreator/atoms/CardDescribePreview.md
  WMIAdventure/frontend/src/assets/icons/ErrorInfoIcon.svg
  WMIAdventure/frontend/src/js/api/endpoints/UserEndpoints.js
  WMIAdventure/frontend/src/js/api/gateways/UsersAPIGateway.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/AuthForm.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/index.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/A.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/ErrorContainer.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/ErrorDecoration.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/ErrorMessage.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Fieldset.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Form.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Input.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/InputContainer.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Label.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Legend.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Line.js
  WMIAdventure/frontend/src/js/components/auth/molecules/AuthForm/styled-components/Submit.js
  WMIAdventure/frontend/src/js/components/auth/molecules/LoginForm/LoginForm.js
  WMIAdventure/frontend/src/js/components/auth/molecules/LoginForm/index.js
  WMIAdventure/frontend/src/js/components/auth/molecules/LoginForm/styled-components/Form.js
  WMIAdventure/frontend/src/js/components/auth/molecules/LoginForm/styled-components/FormItemContainer.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/UserRegistrationForm.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/index.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Button.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Fieldset.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Form.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Input.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Label.js
  WMIAdventure/frontend/src/js/components/auth/molecules/UserRegistrationForm/styled-components/Legend.js
  WMIAdventure/frontend/src/js/components/auth/organisms/Login/Login.js
  WMIAdventure/frontend/src/js/components/auth/organisms/Login/styled-components/MainContainer.js
  WMIAdventure/frontend/src/js/components/auth/organisms/UserRegistration/UserRegistration.js
  WMIAdventure/frontend/src/js/components/auth/organisms/UserRegistration/styled-components/MainContainer.js
  WMIAdventure/frontend/src/js/components/card-editor/atoms/CardDescribePreview/CardDescribePreview.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/pages/LoginPage/LoginPage.js
  WMIAdventure/frontend/src/js/pages/LoginPage/StyledWrapper.js
  WMIAdventure/frontend/src/js/pages/LoginPage/styled-components/WholePageDiv.js
Labels: Frontend

#833 Landing page desktop
  WMIAdventure/frontend/src/assets/images/desktop-landing-background.png
  WMIAdventure/frontend/src/assets/images/desktop-landing-background.svg
  WMIAdventure/frontend/src/js/components/auth/organisms/Login/Login.js
  WMIAdventure/frontend/src/js/components/auth/organisms/UserRegistration/UserRegistration.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingFooter/styled-components/Footer.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingLogin/styled-components/A.js
  WMIAdventure/frontend/src/js/components/landing-page/atoms/LandingRegistration/styled-components/A.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/LandingArticle.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Article.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/H3.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Line.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/styled-components/Paragraph.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/LandingHeroSection.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Content.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/DesktopTitle.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Span.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingHeroSection/styled-components/Subtitle.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/LandingNavBar.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/Nav.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/SiteHeader.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/Grid.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/landing-page/organisms/LandingSection/styled-components/Section.js
  WMIAdventure/frontend/src/js/pages/LandingPage/LandingPage.js
Labels: Frontend

#832 Backend: system punktów i punkty za walkę
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/factories.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/signals.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Battle.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Outcome.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/exp_calculations.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Battle.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_BattleIntegration.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_exp_calculations.py
  WMIAdventure/backend/WMIAdventure_backend/battle/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/battle/signals.py
  WMIAdventure/backend/WMIAdventure_backend/battle/tests.py
Labels: Backend

#845 Poprawka margin i wysokości LandingNavBar
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/Nav.js
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingNavBar/styled-components/SiteHeader.js
Labels: Frontend

#852 Dodanie favicon ico
  WMIAdventure/frontend/public/android-chrome-192x192.png
  WMIAdventure/frontend/public/android-chrome-512x512.png
  WMIAdventure/frontend/public/apple-touch-icon.png
  WMIAdventure/frontend/public/favicon-16x16.png
  WMIAdventure/frontend/public/favicon-32x32.png
  WMIAdventure/frontend/public/favicon.ico
  WMIAdventure/frontend/public/index.html
  WMIAdventure/frontend/public/site.webmanifest
Labels: Frontend

#854 PopUp w SwipeProfile fix
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/PopUp.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/ChangeDeckCard.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/styled-components/CardChooseDiv.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/styled-components/Ul.js
Labels: Frontend

#848 Nowy poziom - animacja
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/UserStatisticAnim.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/styled-components/MainDiv.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/styled-components/StatisticNumber.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/styled-components/ValueDiv.js
  WMIAdventure/frontend/src/js/components/battle/molecules/TinyUserProfile/TinyUserProfile.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserLevel/UserLevel.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserLevel/index.js
  WMIAdventure/frontend/src/js/components/battle/organisms/PostBattle/PostBattle.js
Labels: Frontend

#859 Aktualizacja kolorów leveli
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatisticAnim/styled-components/ValueDiv.js
  WMIAdventure/frontend/src/js/components/global/atoms/UserLabel/styled-components/Label.js
  WMIAdventure/frontend/src/js/utils/globals.js
Labels: Frontend

#860 (cursor: pointer) for user item
  WMIAdventure/frontend/src/js/components/battle/molecules/UserListItem/styled-components/Item.js
Labels: Frontend

#857 Tytuły stron - refactor
  WMIAdventure/frontend/src/js/pages/CardsCreatorCreate.js
  WMIAdventure/frontend/src/js/pages/CardsCreatorEdit.js
  WMIAdventure/frontend/src/js/pages/CardsCreatorStart/CardsCreatorStart.js
  WMIAdventure/frontend/src/js/pages/LandingPage/LandingPage.js
  WMIAdventure/frontend/src/js/pages/LoginPage/LoginPage.js
  WMIAdventure/frontend/src/js/pages/MainMenu/MainMenu.js
  WMIAdventure/frontend/src/js/pages/PageNames.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
  WMIAdventure/frontend/src/js/pages/UserRegistration/UserRegistrationPage.js
Labels: Frontend

#858 Podwójna prędkość przebiegu walki
  WMIAdventure/frontend/src/assets/icons/double-speed-dark.svg
  WMIAdventure/frontend/src/assets/icons/double-speed.svg
  WMIAdventure/frontend/src/assets/icons/fast.svg
  WMIAdventure/frontend/src/assets/icons/normal-speed-dark.svg
  WMIAdventure/frontend/src/assets/icons/normal-speed.svg
  WMIAdventure/frontend/src/assets/icons/pause-dark.svg
  WMIAdventure/frontend/src/assets/icons/pause.svg
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/CenterDiv.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/MobileBattleButton.js
  WMIAdventure/frontend/src/js/components/global/atoms/ButtonWithIcon/styled-components/Button.js
Labels: Frontend

#856 Ukrycie prototypowego kontentu
  WMIAdventure/frontend/src/js/components/battle/molecules/TinyUserProfile/TinyUserProfile.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserListItem/UserListItem.js
  WMIAdventure/frontend/src/js/components/battle/organisms/OpponentSelected/OpponentSelected.js
  WMIAdventure/frontend/src/js/components/battle/organisms/PostBattle/PostBattle.js
  WMIAdventure/frontend/src/js/components/battle/organisms/SwipeProfile/SwipeProfile.js
  WMIAdventure/frontend/src/js/components/battle/organisms/TinyProfileDesktop/TinyProfileDesktop.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
Labels: Frontend

#874 Limit walk
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/battle_limiting.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_battle_limiting.py
  WMIAdventure/backend/WMIAdventure_backend/battle/views.py
  WMIAdventure/frontend/src/js/components/battle/organisms/OpponentSelected/OpponentSelected.js
Labels: Backend, Frontend

#885 Landing corrections
  WMIAdventure/frontend/src/js/components/landing-page/molecules/LandingArticle/LandingArticle.js
  WMIAdventure/frontend/src/js/pages/LandingPage/LandingPage.js
  WMIAdventure/frontend/src/js/pages/LandingPage/content.js
  WMIAdventure/frontend/src/js/pages/LandingPage/styled-components/RepoLink.js
Labels: Frontend

#784 #780 Better font size handling for cards
  WMIAdventure/frontend/src/js/components/battle/molecules/Deck/Deck.js
  WMIAdventure/frontend/src/js/components/battle/organisms/TinyProfileDesktop/TinyProfileDesktop.js
  WMIAdventure/frontend/src/js/components/battle/organisms/TinyProfileDesktop/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Name.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/styled-components/H3.js
Labels: Frontend
