Repository emkarcinos/WMIAdventure, pull requests merged in 2021-11, with the labels that each got.

#628 Naprawa obrazka w kompaktowym widoku, usunięcie linkowania niepotrzebnych ikonek w manifest.json
  WMIAdventure/frontend/public/manifest.json
  WMIAdventure/frontend/src/js/components/card-editor/organisms/CardProperties/CardProperties.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
Labels: Frontend

#649 Początkowy wygląd przebiegu pojedynku
  WMIAdventure/frontend/src/assets/icons/health.svg
  WMIAdventure/frontend/src/assets/icons/shield.svg
  WMIAdventure/frontend/src/assets/images/icon1.png
  WMIAdventure/frontend/src/assets/images/icon2.png
  WMIAdventure/frontend/src/assets/images/icon3.png
  WMIAdventure/frontend/src/assets/images/icon4.png
  WMIAdventure/frontend/src/assets/images/icon5.png
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/KuceInBattle.js
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/styled-components/Img.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/MiniCardView.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/Icon.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/IconContainer.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/LevelBorder.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserLevel/UserLevel.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserLevel/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserLevel/styled-components/ValueDiv.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatistic/UserStatistic.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatistic/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatistic/styled-components/MainDiv.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatistic/styled-components/StatisticNumber.js
  WMIAdventure/frontend/src/js/components/battle/atoms/UserStatistic/styled-components/ValueDiv.js
  WMIAdventure/frontend/src/js/components/battle/molecules/Deck/Deck.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/EnemyStateContainer.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/index.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Avatar.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Icon.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Nick.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/NickDiv.js
  WMIAdventure/frontend/src/js/components/battle/molecules/TinyUserProfile/TinyUserProfile.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/UserStateContainer.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/index.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Avatar.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Icon.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Nick.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/NickDiv.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/index.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/MainContainer.js
  WMIAdventure/frontend/src/js/components/battle/organisms/OpponentSelected/OpponentSelected.js
  WMIAdventure/frontend/src/js/components/battle/organisms/PostBattle/PostBattle.js
  WMIAdventure/frontend/src/js/components/battle/organisms/TinyProfileDesktop/TinyProfileDesktop.js
  WMIAdventure/frontend/src/js/components/card-editor/molecules/LevelCardView/LevelCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/atoms/LoadingPopUp/LoadingPopUp.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/FlexGapContainer.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/PopUp.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/styled-components/Close.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/styled-components/Div.js
  WMIAdventure/frontend/src/js/utils/globals.js
Labels: Frontend, Mobile

#656 Manipulacja kolejnością kart na mobile
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/MiniCardView.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/styled-components/CardsContainer.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/FlexGapContainer.js
  WMIAdventure/frontend/src/js/components/global/molecules/FlexGapContainer/styled-components/Container.js
Labels: Frontend

#659 Naprawa podwojenia karty
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/factories.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/BattleCard.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/Deck.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/buffs/CardDuplicatedBuff.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/buffs/__init__.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/SkipCardEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/effects/TwoTimesExecuteEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_EffectsIntegrations.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/effects/tests_TwoTimesExecuteEffect.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/factories.py
  WMIAdventure/backend/WMIAdventure_backend/battle/businesslogic/tests/tests_Deck.py
  WMIAdventure/backend/WMIAdventure_backend/cards/factories.py
  WMIAdventure/backend/WMIAdventure_backend/cards/models.py
  WMIAdventure/backend/WMIAdventure_backend/users/factories.py
  WMIAdventure/backend/requirements.txt
Labels: bug, Backend

#664 Podstawowe animacje jednej iteracji pojedynku
  WMIAdventure/frontend/src/js/components/battle/atoms/EffectIcon/EffectIcon.js
  WMIAdventure/frontend/src/js/components/battle/atoms/EffectIcon/index.js
  WMIAdventure/frontend/src/js/components/battle/atoms/EffectIcon/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/atoms/EffectIcon/styled-components/Icon.js
  WMIAdventure/frontend/src/js/components/battle/atoms/EffectIcon/styled-components/Value.js
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/KuceInBattle.js
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/MiniCardView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/CenterDiv.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/EffectIconsContainer.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/FullCardActionBackground.js
  WMIAdventure/frontend/src/js/components/battle/organisms/OpponentSelected/OpponentSelected.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/FullCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/FullCardView/styled-components/Article.js
  WMIAdventure/frontend/src/js/utils/globals.js
  WMIAdventure/frontend/src/js/utils/prototypeData/enemyUsedEffects.js
  WMIAdventure/frontend/src/js/utils/prototypeData/userUsedEffects.js
Labels: Frontend

#667 Startowa animacja i widok przebiegu walki wersja desktop
  WMIAdventure/frontend/src/assets/images/battleLeftBackground.png
  WMIAdventure/frontend/src/assets/images/battleRightBackground.png
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/KuceInBattle.js
  WMIAdventure/frontend/src/js/components/battle/atoms/KuceInBattle/styled-components/Img.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/EnemyStateContainer.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Avatar.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/Nick.js
  WMIAdventure/frontend/src/js/components/battle/molecules/EnemyStateContainer/styled-components/NickDiv.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/UserStateContainer.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Avatar.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/Nick.js
  WMIAdventure/frontend/src/js/components/battle/molecules/UserStateContainer/styled-components/NickDiv.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/DesktopBackground.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/MainContainer.js
  WMIAdventure/frontend/src/js/components/battle/organisms/OpponentSelected/OpponentSelected.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/PopUp.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/styled-components/Div.js
  WMIAdventure/frontend/src/js/pages/BattleMode/BattleMode.js
Labels: Frontend

#676 Add effects storage #603
  WMIAdventure/frontend/src/js/api/endpoints/CardsEndpoints.js
  WMIAdventure/frontend/src/js/api/gateways/CardsAPIGateway.js
  WMIAdventure/frontend/src/js/components/card-editor/organisms/CardsCreator/CardsCreator.js
  WMIAdventure/frontend/src/js/storage/effects/effectStorage.js
  WMIAdventure/frontend/src/js/storage/localStorageKeys.js
Labels: Frontend

#678 Design przebiegu walki na desktop
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/CenterDiv.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/styled-components/FullCardActionBackground.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/styled-components/Div.js
Labels: Frontend

#684 Wizualizacja efektu blokowania karty
  WMIAdventure/backend/WMIAdventure_backend/cards/admin.py
  WMIAdventure/frontend/src/js/components/battle/atoms/MiniCardView/MiniCardView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/BattleView.js
  WMIAdventure/frontend/src/js/components/battle/organisms/BattleView/effectsVisualizing.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/utils/globals.js
Labels: Frontend

#695 Raport spotkania z Olą
  docs/reports/report_27_11.md
Labels: documentation
