Repository emkarcinos/WMIAdventure, pull requests merged in 2022-01, with the labels that each got.

#941 Kodeks postępowania
  CODE_OF_CONDUCT.md
Labels: documentation

#937 readme update #936
  README.md
Labels: documentation

#939 dokument CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#948 Implementacja designu wyświetlania punktów nauki użytkownika
  WMIAdventure/frontend/src/assets/icons/skillPoints.svg
  WMIAdventure/frontend/src/js/components/battle/molecules/TinyUserProfile/TinyUserProfile.js
  WMIAdventure/frontend/src/js/components/global/atoms/UserLabel/UserLabel.js
  WMIAdventure/frontend/src/js/components/global/atoms/UserLabel/styled-components/Label.js
  WMIAdventure/frontend/src/js/components/global/molecules/Menubar/Menubar.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
Labels: Frontend

#960 Backend punkty nauki
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/skill_points.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/tests/__init__.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/tests/tests_skill_points.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/factories.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/migrations/0010_userstats_skill_points.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/models.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/serializers.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/signals.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: Backend, Design

#961 Widok API - karty użytkownika
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/permissions.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/urls.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: Backend

#964 Dawanie użytkownikom kart z tylko najniższym poziomem
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/signals.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/signals.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/tests.py
  WMIAdventure/backend/WMIAdventure_backend/proposed_content/views.py
Labels: Backend

#966 Frontend - używanie poziomów kart, użycie kart użytkownika zamiast generycznych
  WMIAdventure/frontend/src/js/api/data-models/battle/Card.js
  WMIAdventure/frontend/src/js/api/data-models/battle/EditableDeck.js
  WMIAdventure/frontend/src/js/api/endpoints/UserProfilesEndpoints.js
  WMIAdventure/frontend/src/js/api/gateways/UserProfilesAPIGateway.js
  WMIAdventure/frontend/src/js/components/card-editor/atoms/Card/Card.js
  WMIAdventure/frontend/src/js/components/global/atoms/CompactCardView/CompactCardView.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserCard/UserCard.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UserCard/index.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/ChangeDeckCard.js
  WMIAdventure/frontend/src/js/storage/localStorageKeys.js
  WMIAdventure/frontend/src/js/storage/user/userData.js
Labels: Frontend

#973 Backend: ulepszanie kart
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/exceptions.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/tests/tests_upgrading_cards.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/businesslogic/upgrading_cards.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/permissions.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/tests.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/urls.py
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: Backend

#967 UI do ulepszania karty mobile
  WMIAdventure/frontend/docs/pages/creative/CardsCreator/atoms/CardDescribeInputs.md
  WMIAdventure/frontend/src/assets/icons/upgrade-light.svg
  WMIAdventure/frontend/src/js/api/data-models/battle/Card.js
  WMIAdventure/frontend/src/js/components/battle/molecules/Deck/styled-components/MainDiv.js
  WMIAdventure/frontend/src/js/components/global/atoms/ButtonWithIcon/ButtonWithIcon.js
  WMIAdventure/frontend/src/js/components/global/atoms/ButtonWithIcon/styled-components/Button.js
  WMIAdventure/frontend/src/js/components/global/atoms/ButtonWithIcon/styled-components/IconContainer.js
  WMIAdventure/frontend/src/js/components/global/atoms/ButtonWithIcon/styled-components/P.js
  WMIAdventure/frontend/src/js/components/global/atoms/UserInfo/UserInfo.js
  WMIAdventure/frontend/src/js/components/global/atoms/UserInfo/styled-components/Span.js
  WMIAdventure/frontend/src/js/components/global/molecules/ColumnGapContainer/ColumnGapContainer.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/PopUp.js
  WMIAdventure/frontend/src/js/components/global/organisms/PopUp/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UpgradeApprove/UpgradeApprove.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UpgradeApprove/index.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UpgradeApprove/styled-components/H3.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UpgradeApprove/styled-components/P.js
  WMIAdventure/frontend/src/js/components/profile/molecules/MyDeck/MyDeck.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/UpgradeCardSection.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/index.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/Description.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/On.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/TransparentBackground.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/ChangeDeckCard.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/Container.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/styled-components/P.js
  WMIAdventure/frontend/src/js/pages/BattleMode/BattleMode.js
  WMIAdventure/frontend/src/main-styles/index.css
Labels: Frontend, Mobile

#984 ulepszanie kart desktop
  WMIAdventure/frontend/src/index.js
  WMIAdventure/frontend/src/js/components/global/organisms/TransBack/styled-components/Div.js
  WMIAdventure/frontend/src/js/components/profile/atoms/UpgradeApprove/styled-components/P.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/UpgradeCardSection.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/profile/molecules/UpgradeCardSection/styled-components/TransparentBackground.js
  WMIAdventure/frontend/src/js/components/profile/organisms/ChangeDeckCard/ChangeDeckCard.js
Labels: Frontend, Desktop

#988 Samouczek na mobile
  WMIAdventure/frontend/src/assets/images/tutorial-frame-1.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-2.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-3.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-4.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-5.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-6.png
  WMIAdventure/frontend/src/assets/images/tutorial-frame-7.png
  WMIAdventure/frontend/src/assets/images/tutorial.png
  WMIAdventure/frontend/src/js/App.jsx
  WMIAdventure/frontend/src/js/components/auth/organisms/UserRegistration/UserRegistration.js
  WMIAdventure/frontend/src/js/components/global/atoms/GenericPopup/GenericPopup.js
  WMIAdventure/frontend/src/js/components/global/molecules/Menubar/Menubar.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/Navbar.js
  WMIAdventure/frontend/src/js/components/global/molecules/Navbar/styled-components/SkipTutorialButton.js
  WMIAdventure/frontend/src/js/components/main-menu/organisms/HelloNewbiePopUp/HelloNewbiePopUp.js
  WMIAdventure/frontend/src/js/components/main-menu/organisms/HelloNewbiePopUp/index.js
  WMIAdventure/frontend/src/js/components/main-menu/organisms/HelloNewbiePopUp/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/main-menu/organisms/HelloNewbiePopUp/styled-components/P.js
  WMIAdventure/frontend/src/js/components/main-menu/organisms/HelloNewbiePopUp/styled-components/TransparentBack.js
  WMIAdventure/frontend/src/js/components/profile/molecules/WelcomeInProfile/WelcomeInProfile.js
  WMIAdventure/frontend/src/js/components/profile/molecules/WelcomeInProfile/index.js
  WMIAdventure/frontend/src/js/components/profile/molecules/WelcomeInProfile/styled-components/Close.js
  WMIAdventure/frontend/src/js/components/profile/molecules/WelcomeInProfile/styled-components/H2.js
  WMIAdventure/frontend/src/js/components/profile/molecules/WelcomeInProfile/styled-components/P.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/PopUpProfile.js
  WMIAdventure/frontend/src/js/components/profile/organisms/PopUpProfile/styled-components/Container.js
  WMIAdventure/frontend/src/js/components/tutorial/atoms/TutorialStepDescribe/TutorialStepDescribe.js
  WMIAdventure/frontend/src/js/components/tutorial/atoms/TutorialStepDescribe/index.js
  WMIAdventure/frontend/src/js/components/tutorial/atoms/TutorialStepDescribe/styled-components/Header.js
  WMIAdventure/frontend/src/js/components/tutorial/atoms/TutorialStepDescribe/styled-components/Paragraph.js
  WMIAdventure/frontend/src/js/pages/MainMenu/MainMenu.js
  WMIAdventure/frontend/src/js/pages/PageNames.js
  WMIAdventure/frontend/src/js/pages/Profile/Profile.js
  WMIAdventure/frontend/src/js/pages/Tutorial/Tutorial.js
  WMIAdventure/frontend/src/js/pages/Tutorial/index.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/BackgroundImg.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/CenterDiv.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/EndDiv.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/MainContainer.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/StepContainer.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/TextBorderContainer.js
  WMIAdventure/frontend/src/js/pages/Tutorial/styled-components/TextContainer.js
Labels: Frontend, Mobile

#1014 #997 Fix API docs not accessible
  WMIAdventure/backend/WMIAdventure_backend/IngameUsers/views.py
Labels: bug, Backend
